{% extends "base.html" %}
{% block contenido_principal %}
<div class="container">
    <h2>Bienvenido a la aplicacion MyWallapop</h2>
    <p>Desarrollada en NodeJS por Martin y Marcos para la asignatura de SDI.</p>
    <p>Usa la NAVBAR para navegar por la web.</p>

    <h2>Ofertas destacadas</h2>
    <p>Ofertas destacadas por los usuarios.</p>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Titulo</th>
                <th>Descripcion</th>
                <th>Precio</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for bid in bids %}
                <tr id="ofertas">
                    <td>{{bid.title}}</td>
                    <td>{{bid.description}}</td>
                    <td>{{bid.price}} €</td>
                    <td>{% if bid.buyerEmail == null %}
                        {% if bid.userEmail != session.usuario %}
                        <div>
                            <form method="post" action="/bid/list/buyed/{{ bid._id.toString() }}">
                                <button type="submit" class="btn btn-default"
                                        style="background-color: #3CD951; color: white"
                                        enabled>Comprar</button>
                            </form>
                        </div>
                        {% endif %}
                        {% endif %}
                        {% if bid.buyerEmail != null %}
                        <div>
                            <form id="botonSold" >
                                <button type="submit" class="btn btn-default"
                                        style="background-color: #3CD951; color: white"
                                        disabled>Vendido</button>
                            </form>
                        </div>
                        {% endif %}
                    </td>
                    <td>
                        {% if bid.userEmail == session.usuario %}
                        <div>
                            <div >
                                <form id="botonBuy2" >
                                    <button type="submit" class="btn btn-default"
                                            style="background-color: #3CD951; color: white"
                                    >Destacar</button>
                                </form>
                            </div>
                        </div>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}