{% extends "../base.html" %}
{% block contenido_principal %}
<h2 th:text="#{list.users}"></h2>
<p th:text="#{list.p2}"></p>
<button class="btn btn-default" id="deleteButton">Borrar seleccionados
</button>
<script>
    $("#deleteButton").click(function () {
        let urlUpdate = '/user/delete';
        let table = document.getElementById('tabla');
        let listIds = new Array();
        let totalUsersToDelete = 0;
        for (let r = 1, n = table.rows.length; r < n; r++) {
            // Parse id users
            let id = table.rows[r].cells[2].innerHTML;
            //If checkbox is mark, added to list
            if (document.getElementById(id).checked) {
                listIds[totalUsersToDelete] = id;
                totalUsersToDelete++;
            }
        }
        if (listIds.length > 0) {
            //Metodo para poder mandar un formulario y la peticion a traves de post.
            //Creamos el formulario y lo hacemos post y accion
            let form = document.createElement("form");
            form.setAttribute("method", "post");
            form.setAttribute("action", urlUpdate);

            //Pasamos el parametro que queremos poner.
            let hiddenField = document.createElement("input");
            hiddenField.setAttribute("type", "hidden");
            hiddenField.setAttribute("name", "listUserID");
            hiddenField.setAttribute("value", listIds);
            form.appendChild(hiddenField);

            document.body.appendChild(form);
            form.submit();
        }
    });
</script>
<div class="table-responsive">
    <table id="tabla" class="table table-hover">
        <thead>
        <tr>
            <th class="col-md-1"></th>
            <th>ID</th>
            <th>Usuarios</th>
            <th class="col-md-1"></th>
            <th>Nombre</th>
            <th>Apellido</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
            {% if session.usuario !== user.email %}
                <td><input type="checkbox" id='{{ user.email }}'></td>
            {% else %}
                <td><input type="checkbox" id='{{ user.email }}' disabled></td>
            {% endif %}
            <td>{{user._id.toString()}}</td>
            <td>{{user.email}}</td>
            <td></td>
            <td>{{user.nombre}}</td>
            <td>{{user.apellido}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
