{% extends "../base.html" %}
{% block contenido_principal %}
	<div class="container">
		<!--<p>
			span th:if="${error}!=null" class="alert alert-danger" th:text="#{Error.buy}"></span>
           <span th:if="${buyed}!=null" class="alert alert-success" th:text="#{buy.list.buyedSucces}"></span>
       </p>-->
		<div class="row">
			<div id="custom-search-input ">
				<form method="get" action="/bid/list">
					<div class="input-group col-xs-8 col-sm-6 col-md-4 col-lg-5 pull-right">
						<input type="text" class="search-query form-control" placeholder="Nombre del producto"
							   name="busqueda"/>
						<span class="input-group-btn"> <button class="btn" type="submit">
                    <span class="glyphicon glyphicon-search"></span></button>
                </span>
					</div>
				</form>
			</div>
		</div>
       <div class="table-responsive">
           <table class="table table-hover">
               <thead>
                   <tr>
                       <th>Titulo</th>
                       <th>Descripcion</th>
                       <th>Precio</th>
                       <th class="col-md-1"></th>
                       <th class="col-md-1"></th>
                       <th class="col-md-1"></th>
                   </tr>
               </thead>
               <tbody>
				   {% for bid in bids %}
				   <tr id="ofertas">
					   <td>{{bid.title}}</td>
					   <td>{{bid.description}}</td>
					   <td>{{bid.price}} €</td>

                       <td>
						   {% if bid.buyerEmail == null %}
						   {% if bid.userEmail != session.usuario %}
						   <div>
							   <form id="botonBuy" >
								   <button type="submit" class="btn btn-default"
										   style="background-color: #3CD951; color: white"
										   enabled>Comprar</button>
							   </form>
                           </div>
						   {% endif %}
						   {% endif %}
						   {% if bid.buyerEmail != null %}
						   <div>
							   <form id="botonSold" >
								   <button type="submit" class="btn btn-default"
										   style="background-color: #3CD951; color: white"
										   disabled>Vendido</button>
							   </form>
						   </div>
						   {% endif %}
					   </td>
					   <td>
						   {% if bid.userEmail == session.usuario %}
                           <div>
							   <div >
                                   <form id="botonBuy2" >
                                       <button type="submit" class="btn btn-default"
                                           style="background-color: #3CD951; color: white"
                                           >Destacar</button>
                                   </form>
                               </div>
                           </div>
						   {% endif %}
					   </td>
                   </tr>
				   {% endfor %}
               </tbody>
           </table>
       </div>
   </div>
{% endblock %}
