{% extends "../base.html" %}
{% block contenido_principal %}
<div class="container">
    <h2>Mis ofertas</h2>
    <p>Aqui se muestra todo el listado tus ofertas publicadas.</p>

    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Titulo</th>
                <th>Descripcion</th>
                <th>Precio</th>
                <th></th>
                <th>Tipo</th>
                <th class="col-md-1"></th>
                <th class="col-md-1"></th>
            </tr>
            </thead>
            <tbody>
            {% for bid in bids %}
            <tr id="ofertas">
                <td>{{bid.title}}</td>
                <td>{{bid.description}}</td>
                <td>{{bid.price}} €</td>
                <td>
                    <form  method="post" action="/bid/mybids/buyed/{{ bid._id.toString() }}">
                        <button id="boton" type="submit" class="btn btn-default"
                                style="background-color: #C24641; color: white">Borrar</button>
                    </form>
                </td>
                {% if bid.isSpecial === 'on' %}
                <div>
                    <td>
                        <button class="btn btn-default" style="background-color: yellow;
								color: black">Especial
                        </button>
                    </td>
                </div>
                {% else %}
                <div>
                    <td>
                        <button class="btn btn-default"
                                style="background-color: light-yellow" disabled>Normal
                        </button>
                    </td>
                    <td></td>
                    {% if bid.buyerEmail === null %}
                    <td>
                        <form id="outstandingButton" action="/bid/mybids/oustanding" method="post">
                            <input type="hidden" id="id" name="id" value="{{bid._id.toString()}}">
                            <button type="submit" class="btn btn-default">
                                Destacar (20€)
                            </button>
                        </form>
                    </td>
                    {% else %}
                        <td></td>
                    {% endif %}
                </div>
                {% endif %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
