{% extends "../base.html" %}
{% block contenido_principal %}
<div class="container">
	<h2>Mis ofertas compradas</h2>
	<p>Aqui se muestra todo el listado tus ofertas compradas junto al correo del vendedor.</p>

	<div class="table-responsive">
		<table class="table table-hover">
			<thead>
			<tr>
				<th>Titulo</th>
				<th>Descripcion</th>
				<th>Precio</th>
				<th>Vendedor</th>
			</tr>
			</thead>
			<tbody>
			{% for bid in bids %}
			<tr id="ofertas">
				<td>{{bid.title}}</td>
				<td>{{bid.description}}</td>
				<td>{{bid.price}} €</td>
				<td>{{bid.userEmail}}</td>
			</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}
